.benefits {
  &__title {
    font-family: $futuranew;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }
  &__item {

  }
  &__btn {
    display: inline-block;
    margin-top: 60px;
  }
  &__nopre {
    padding-top: 70px;
  }
  &__specific {
    padding-top: 135px;
  }
  &__global {
    padding-top: 225px;
  }
  &__exclusive {
    padding-top: 170px;
    padding-bottom: 215px;
  }
}
