.header {
  &__inner {
    min-height: 120px;
    padding-top: 45px;
    position: relative;
    @include media(mobile) {
      padding-top: 10px;
      min-height: auto;
    }
  }
  &__logo {
    display: inline-block;
    width: 350px;
    img {
      display: block;
      width: 100%;
    }
    @include media(mobile) {
      img {
        display: none;
      }
      height: 40px;
      width: 40px;
      background: url(../images/icon-spice.png) no-repeat center/contain;
      margin-left: -10px;
    }
  }
  &__burger {
    position: absolute;
    width: 86px;
    height: 86px;
    top: 22px;
    right: 7px;
    z-index: 2;
    @include media(mobile) {
      width: 40px;
      height: 40px;
      top: 10px;
      right: 10px;
    }
  }
}