.image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  &--spaceman {
    bottom: 20px;
  }
  &--rocket {
    bottom: 20px;
  }
  &--no-prepayment {
    transform: translate3d(-50px, 5px, 0);
  }
  &--greetings {
    transform: translate3d(-49px,5px,0);
  }
  &--global-pool {
    transform: translate3d(-50px,10px,0);
  }
  &--exclusive {
    transform: translate3d(-50px,5px,0);
  }
  @include media(mobile) {

    &--spaceman {
      bottom: 30px;
      height: 180px;
    }
    &--rocket {
      bottom: 30px;
      height: 150px;
    }
    &--no-prepayment {
      position: relative;
    }
    &--greetings {
      position: relative;
    }
    &--global-pool {
      position: relative;
    }
    &--exclusive {
      position: relative;
    }
  }
}